<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Webbhuset\Sveacheckout\Api\QueueRepositoryInterface"
                type="Webbhuset\Sveacheckout\Model\QueueRepository"/>
    <preference for="Webbhuset\Sveacheckout\Api\Data\QueueInterface"
                type="Webbhuset\Sveacheckout\Model\Queue"/>
    <preference for="Webbhuset\Sveacheckout\Api\Data\QueueSearchResultInterface"
                type="Webbhuset\Sveacheckout\Model\QueueSearchResult"/>
    <!-- Invoice  -->
    <virtualType name="SveaCheckoutFacade" type="Webbhuset\Sveacheckout\Model\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Webbhuset\Sveacheckout\Model\Ui\ConfigProvider::CHECKOUT_CODE</argument>
            <argument name="formBlockType" xsi:type="string">Webbhuset\Sveacheckout\Block\Form\Checkout</argument>
            <argument name="infoBlockType" xsi:type="string">Webbhuset\Sveacheckout\Block\Info\Checkout</argument>
            <argument name="valueHandlerPool" xsi:type="object">SveaInvoiceValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">SveacheckoutCommandPool</argument>
        </arguments>
    </virtualType>

        <virtualType name="SveaInvoiceValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
            <arguments>
                <argument name="handlers" xsi:type="array">
                    <item name="default" xsi:type="string">SveaInvoiceConfigValueHandler</item>
                </argument>
            </arguments>
        </virtualType>

        <virtualType name="SveaInvoiceConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
            <arguments>
                <argument name="configInterface" xsi:type="object">SveaInvoicePaymentConfig</argument>
            </arguments>
        </virtualType>

        <virtualType name="SveaInvoicePaymentConfig" type="Magento\Payment\Gateway\Config\Config">
            <arguments>
                <argument name="methodCode" xsi:type="const">Webbhuset\Sveacheckout\Model\Ui\ConfigProvider::CHECKOUT_CODE</argument>
            </arguments>
        </virtualType>

        <virtualType name="SveacheckoutCommandPool" type="\Magento\Payment\Gateway\Command\CommandPool">
            <arguments>
                <argument name="commands" xsi:type="array">
                    <item name="capture" xsi:type="string">SveacheckoutCaptureCommand</item>
                    <item name="void" xsi:type="string">SveacheckoutCancelCommand</item>
                    <item name="cancel" xsi:type="string">SveacheckoutCancelCommand</item>
                    <item name="refund" xsi:type="string">SveacheckoutRefundCommand</item>
                    <item name="authorize" xsi:type="string">SveacheckoutAuthorizeCommand</item>
                </argument>
            </arguments>
        </virtualType>

    <virtualType name="SveacheckoutCaptureCommand" type="Webbhuset\Sveacheckout\Gateway\Command\SveaCommand">
        <arguments>
            <argument name="client" xsi:type="array">
                <item name="method" xsi:type="string">capture</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SveacheckoutAuthorizeCommand" type="Webbhuset\Sveacheckout\Gateway\Command\SveaCommand">
        <arguments>
            <argument name="client" xsi:type="array">
                <item name="method" xsi:type="string">authorize</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SveacheckoutCancelCommand" type="Webbhuset\Sveacheckout\Gateway\Command\SveaCommand">
        <arguments>
            <argument name="client" xsi:type="array">
                <item name="method" xsi:type="string">void</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SveacheckoutRefundCommand" type="Webbhuset\Sveacheckout\Gateway\Command\SveaCommand">
        <arguments>
            <argument name="client" xsi:type="array">
                <item name="method" xsi:type="string">refund</item>
            </argument>
        </arguments>
    </virtualType>
</config>
